<!DOCTYPE html>
<html> 
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <strong>Negan</strong>
        <br />
        <a href="/Home/Deneme" style="color:red">2. sayfaya git.</a>
        <br />
        <a href="/Home/Dokuman" style="color:green">3. sayfaya git.</a>
        <br />
        <a href="/Home/Sayfam" style="color:rebeccapurple">4. sayfaya git.</a>
    </div>
</body>
</html>