<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfa</title>
</head>
<body>
    <div>
        <strong>Rick</strong>
        <br />
        <a href="/Home/Index" style="color:red">Anasayfaya git.</a>
    </div>
</body>
</html>