
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sayfam</title>
</head>
<body>
    <div>
        Shared klasöründe olsamda geldim.
    </div>
</body>
</html>